<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
    <aop:aspectj-autoproxy/>
    <!--连接池配置-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--基本配置-->
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/forum?serverTimezone=GMT%2B8"/>
        <!--<property name="jdbcUrl" value="jdbc:mysql://118.24.39.237:3306/forum"/>-->
        <property name="user" value="root"/>
        <property name="password" value="qiupf1231"/>
        <!--<property name="password" value="root"/>-->
        <!--配置数据库连接池(c3p0)-->
        <property name="initialPoolSize" value="10"/>
        <property name="minPoolSize" value="3"/>
        <property name="maxPoolSize" value="15"/>
        <property name="acquireIncrement" value="3"/>
        <property name="maxIdleTime" value="1800"/>
    </bean>

    <!--sessionFactory配置-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>hub/po/letter/Letter.hbm.xml</value>
                <value>hub/po/admin/Admin.hbm.xml</value>
                <value>hub/po/customer/Customer.hbm.xml</value>
                <value>hub/po/floor/Floor.hbm.xml</value>
                <value>hub/po/floorDiscuss/FloorDiscuss.hbm.xml</value>
                <value>hub/po/favorModel/FavorModel.hbm.xml</value>
                <value>hub/po/favorTopic/FavorTopic.hbm.xml</value>
                <value>hub/po/friends/Friend.hbm.xml</value>
                <value>hub/po/model/Model.hbm.xml</value>
                <value>hub/po/topic/Topic.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.hbm2ddl.auto=update
                hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
                <!--hibernate.show_sql=true
                format_sql=true-->
            </value>
        </property>
    </bean>

    <!--TransactionManager配置-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="register" propagation="REQUIRED"/>
            <tx:method name="updatePasswd" propagation="REQUIRED"/>
            <tx:method name="updateBasicInfo" propagation="REQUIRED"/>
            <tx:method name="modifyImg" propagation="REQUIRED"/>
            <tx:method name="setFriend" propagation="REQUIRED"/>
            <tx:method name="setFavorModel" propagation="REQUIRED"/>
            <tx:method name="setFavorTopic" propagation="REQUIRED"/>
            <tx:method name="addTopic" propagation="REQUIRED"/>
            <tx:method name="delTopic" propagation="REQUIRED"/>
            <tx:method name="editLetter" propagation="REQUIRED"/>
            <tx:method name="sendLetter" propagation="REQUIRED"/>
            <tx:method name="floorReply" propagation="REQUIRED"/>
            <tx:method name="inFloorReply" propagation="REQUIRED"/>
            <tx:method name="praise" propagation="REQUIRED"/>
            <tx:method name="step" propagation="REQUIRED"/>
            <tx:method name="*" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <!--事务切面配置-->
    <aop:config proxy-target-class="true">
        <aop:pointcut id="addServiceMethod" expression="execution(* hub.service.*.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="addServiceMethod"/>
    </aop:config>

    <!--DAO层配置-->
    <bean id="baseDao" class="hub.dao.BaseDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="basicDao" class="hub.dao.BasicDAO" parent="baseDao"/>

    <!--Service层配置-->
    <bean id="adminService" class="hub.service.admin.AdminService">
        <property name="basicDAO" ref="basicDao"/>
    </bean>
    <bean id="customerService" class="hub.service.customer.CustomerService">
        <property name="basicDAO" ref="basicDao"/>
    </bean>
    <bean id="visitorService" class="hub.service.visitor.VisitorService">
        <property name="basicDAO" ref="basicDao"/>
    </bean>

    <!--Action层配置-->
    <bean id="adminAction" class="hub.action.AdminAction" scope="prototype">
        <property name="adminService" ref="adminService"/>
    </bean>
    <bean id="customerAction" class="hub.action.CustomerAction" scope="prototype">
        <property name="customerService" ref="customerService"/>
        <property name="visitorService" ref="visitorService" />
    </bean>
    <bean id="visitorAction" class="hub.action.VisitorAction" scope="prototype">
        <property name="visitorService" ref="visitorService"/>
    </bean>

    <!--测试action-->
    <bean id="testAction" class="hub.action.TestAction">
        <property name="adminService" ref="adminService"/>
        <property name="customerService" ref="customerService"/>
        <property name="visitorService" ref="visitorService"/>
    </bean>

</beans>